.login-page {
  margin: 5rem auto 0;
  text-align: center;
}
.login-page input,
.login-page button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid black;
}
.login-page button {
  margin-left: 1rem;
  color: white;
  background: black;
}
