.post-container {
  border: 1px solid #ddd;
  box-shadow: 0 0 0.3rem #ddd;
  border-radius: 0.2rem;
  margin-bottom: 2rem;
}

.post-time {
  padding: 0 1rem 1rem;
  font-weight: bold;
  color: #aaa;
}
